h1        {font-family:verdana,sans-serif; font-size:16pt}
h2        {font-family:verdana,sans-serif; font-size:14pt}
h3        {font-family:verdana,sans-serif; font-size:12pt}

body      {font-family:verdana,sans-serif; font-size:10pt}

table,th,td  {border:1px solid black;border-collapse: collapse;}


table     {font-family:verdana,sans-serif; font-size:10pt;}

th        {background:whitesmoke}

th, td    {padding:4px;vertical-align: top;text-align: left;}


code      {font-family:consolas,courier,monospace; color:teal; font-size:10pt}

a:link    {color:blue; text-decoration:underline}
a:visited {color:blue; text-decoration:underline}
a:active  {color:blue; text-decoration:underline}
a:hover   {color:blue; text-decoration:underline; background:yellow; }
